### Задача №57. ###
1. Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data
2. Посмотреть сколько в нем строк и столбцов
3. Определить какой тип данных имеют столбцы

In [1]:
import pandas as pd

In [2]:
# 1 Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data
# data_frame (df)
df = pd.read_csv("sample_data/california_housing_test.csv")
df.head() #  первые 5 строк на экран (если указываем в скобках, то выводит это кол-во строк)
df.tail() #  последние 5 строк по аналогии

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [3]:
# 2 Посмотреть сколько в нем строк и столбцов
df.shape

(3000, 9)

In [4]:
# 3 Определить какой тип данных имеют столбцы
df.dtypes # вывод типа данных по каждому столбцу

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [5]:
df.info() # вывод информацию: какие данные есть

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

### Задача №59. ###
1. Проверить есть ли в файле пустые значения
2. Показать median_house_value где median_income < 2
3. Показать данные в первых 2 столбцах
4. Выбрать данные где housing_median_age < 20 и median_house_value > 70000

In [ ]:
# 1 Проверить есть ли в файле пустые значения
df.isnull().sum()

In [ ]:
# 2 Показать median_house_value где median_income < 2
df.loc[df['median_income'] < 2, 'median_house_value']

In [ ]:
# 3 Показать данные в первых 2 столбцах
df[['longitude', 'latitude']] # один столбец выводим - передаем в виде строки, несколько стобцов - в виде списка

In [ ]:
# обращаемся к номеру строки
df.iloc[2999]

# обращаеся к столбцу: df['название столбца']

In [ ]:
df.iloc[2999]['longitude']

In [ ]:
# 4 Выбрать данные где housing_median_age < 20 и median_house_value > 70000
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]
# & - и(and)
# | - или(or)

### Задача №61. ###
1. Определить какое максимальное и минимальное значение median_house_value
2. Показать максимальное median_house_value, где median_income = 3.1250
3.Узнать какая максимальная population в зоне минимального значения median_house_value

In [ ]:
# 1 Определить какое максимальное и минимальное значение median_house_value
print(df['median_house_value'].min(), df['median_house_value'].max())
print()
# еще один вариант:
df['median_house_value'].describe()

In [ ]:
# 2 Показать максимальное median_house_value, где median_income = 3.1250

# ДЕЛАЕМ ПОСТЕПЕННО

# 2.1
df[df['median_income'] == 3.1250]

In [ ]:
# 2.2 Можем обратиться к столбцу median_house_value вот так:
df[df['median_income'] == 3.1250]['median_house_value']

In [ ]:
# 2.2 А можем через функцию loc
df.loc[df['median_income'] == 3.1250, 'median_house_value']

In [ ]:
# 2.3
df.loc[df['median_income'] == 3.1250, 'median_house_value'].max()

In [ ]:
# 3 Узнать какая максимальная population в зоне минимального значения median_house_value
df[df['median_house_value'] == df['median_house_value'].min()]['population'].max()

### Задача 40. ###
Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [13]:
# Домашнее задание
import pandas as pd

df = pd.read_csv("sample_data/california_housing_train.csv")
# Решение 1
# df.loc[df['population'] < 500, 'median_house_value'].describe()['mean']
# .describe() создает новый data frame
# Решение 2
# df.loc[df['population'] < 500, 'median_house_value'].mean()
# Решение 3
df[df['population'] < 500]['median_house_value'].mean()

# 2 8 10 15 18 20 27 34
# mean() - (2+8+10+15+18+20+27+34) / 8 = 16.75
# median() - (15+18) / 2 = 16.5

206683.83635227982

### Задача 42. ###
Узнать какая максимальная households в зоне минимального значения population

In [17]:
df[df['population'] == df['population'].min()]['households'].max()

4.0