### Задача №57. ###
1. Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data
2. Посмотреть сколько в нем строк и столбцов
3. Определить какой тип данных имеют столбцы

1. Прочесть с помощью библиотеки

In [ ]:
import pandas as pd

# data_frame
df = pd.read_csv("sample_data/california_housing_test.csv")
df.head() #  первые 5 строк на экран (если указываем в скобках, то выводит это кол-во строк)
df.tail() #  последние 5 строк по аналогии

2. Посмотреть сколько в нем строк и столбцов

In [7]:
df.shape # кол-во строк и столбцов (кортеж) - размер таблицы

(3000, 9)

3. Определить какой тип данных имеют столбцы

In [8]:
df.dtypes # вывод типа данных по каждому столбцу

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [9]:
df.info() # вывод информацию: какие данные есть

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [10]:
# подсчёт кол-во null значений
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64